
         body {
            background-image: url(Images/pychedelicbanner.jpg);
            background-repeat: repeat;
            margin-bottom: 5%;
        }

        .my-nav {
            float: inline-end;
        }

        .my-container {
            border-radius: 2%;
            margin-top: 1%;
      }

        .my-col {
            margin-top: 2%;
            margin-bottom: 2%;
        }

         .my-img {
            width: 105%;
            border-radius: 2%;
        }

        .main-img {
            width: 50%;
            border-radius: 3%;
            margin: 1% 3% 3% 0%;;
        }

        .my-card {
            padding-right: 10%;
            padding-left: 5%;
            margin-top: 3%;
            border: 2px solid black;
        }

        .my-contact {
            color: rgb(55, 160, 125);
        }

        .my-button {
            background-color: rgb(55, 160, 125);
        }

        .my-footer {
            text-align: center;
        }

        .my-font {
            font-family: 'Amatic SC', cursive;
            text-align: center;
        }